<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeTesting" >

        <test name="Test">
            <classes>
                <class name="apiTests.testHealthCheck"/>
                <class name="tests.testUserLogin"/>
                <class name="tests.testGeneralSettings"/>
                <class name="tests.testCRUDDashboard"/>
            </classes>
        </test>
</suite>